:root {
  --primaryColor: #fda300;
  --secondaryColor: #e09f5a;
  --navyBlue: #0e161b;
  --lightYellow: #ffc619;
  --white: #e9e7e7;
  --black: #0a0a0a;
}

body {
  margin: 0;
  font-family: 'Imbue', serif;
  color: var(--white);
  background-color: var(--navyBlue);
}

a {
  text-decoration: none;
}

.career-location {
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  margin: 10px 0
}

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: fixed;
  z-index: 10;
  top: 0;
}

#blog-button {
  width: 150px;
  font-size: 12px;
  height: 30px;
  font-weight: 100;
  margin: 0 20px;
}

.close-nav, .navbar > i {
  font-size: 1.6em;
  color: var(--primaryColor);
  margin: 10px 20px;
  cursor: pointer;
}

.solid {
  background-color: var(--navyBlue);
  height: 50px;
}

.open {
  display: flex !important;
}

.sidebar {
  display: none;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  width: 30vw;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--navyBlue);
  box-shadow: 10px 5px 25px var(--primaryColor);
  z-index: 11;
}

.nav-list {
   padding: 0;
   margin: 50px 0;
}

.nav-list > li {
  list-style: none;
}

.nav-list > li > a > i {
  color: var(--primaryColor);
}

.nav-list > li > a {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.2em;
}

.nav-list > li > a > p {
  color: var(--white);
}

.footer-profiles {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.7em;
}

.footer-profiles > li > a {
  color: var(--primaryColor);
}

.footer-profiles > li > a:hover {
  color: var(--secondaryColor);
}

.main {
  width: 80%;
}

header {
  text-align: center;
}

header > i {
  font-size: 40px;
  color: var(--primaryColor);
}

.remove-margin {
  margin: 0;
}

.introduction {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.seperator {
  font-size: 2em;
  text-align: center;
  margin: 31px;
  margin-top: 0px;
}

.section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0;
}

.message {
  display: grid;
  text-align: center;
  font-weight: 100;
  width: fit-content;
}

.heading {
  font-family: 'Monoton', 'Times New Roman', cursive;
  font-size: 2.5em;
  font-weight: 100;
}

.script-text {
  font-family: 'Loved by the King', cursive;
  font-size: 1.2em;
  letter-spacing: 5px;
}


#hero {
  height: 625px;
  width: 100%;
  background-color: #0e161b;
  color: beige;
}

.introduction > a {
  display: flex;
  text-decoration: none;
}

.primary-button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: double var(--primaryColor) 4px;
  border-radius: 25px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
}

.primary-button:hover {
  background-color: var(--primaryColor);
  color: black;
}

#about {
  height: 500px;
  width: 100%;
  justify-content: center;
}

.section-content {
  display: flex;
  width: 80%;
}

.content {
  margin: 0 auto;
  padding: 30px;
}

.content-body {
  display: flex;
  flex-flow: column;
  font-size: 1.5em;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

.avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links > a {
  color: var(--primaryColor);
  font-size: 25px;
}

.social-links > a:hover {
  font-size: 30px;
}

.social-links> i {
  margin: 0 30px;
}

#experience {
  height: 500px;
}

.rhombus {
  border: var(--black) double 7px;
  color: var(--black);
  background-color: var(--lightYellow);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-content {
  display: block;
  margin-top: 10px;
}

.career-time {
  width: 50%;
  direction: rtl;
}

.right {
  margin-left: 50%;
  direction: ltr;
}

.career-type {
  display: flex;
}

.career-bio {
  width: 100%;
}

.career-name {
  padding: 0 1rem;
  display: flex;
  flex-flow: column;
  margin: 0;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  width: 200px;
  margin: 0 20px;
  display: flex;
  flex-flow: column;
  height: 350px;
  border-radius: 10px;
  justify-content: space-between;
  border: 1px solid var(--primaryColor);
}

.view-project-button {
  width: 100px;
  height: 30px;
  margin: 10px 0;
  font-size: 12px;
  text-transform: capitalize;
}

.project:hover {
  box-shadow: 0px 8px 18px -3px var(--primaryColor);
}

.project > img {
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.uppercase {
  text-transform: uppercase;
  font-size: 2em;
}

.project-name {
  margin: 0;
  text-transform: capitalize;
}

.project-bio {
  width: 100%;
  text-align: center;
}

.skills {
  width: 70%
}

.list > ul {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  font-size: 16px;
  letter-spacing: 1px;
}

.list > ul > li {
  margin: 10px;
  list-style: none;
}

.list > ul > li:hover {
  color: var(--primaryColor);
}

.list > ul > li > i {
  margin: 0 10px;
}

.info {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.info > p {
  margin: 0 20px;
}

.turn {
  border-width: 6px;
  border-color: var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
}

.turn > i {
  transform: rotate(-45deg);
  font-size: 0.8em;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contact-section {
  margin: 20px 0;
  width: 100%;
}

.top-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-input {
  width: 45%;
  margin: 20px 0;
}

form {
  width: 80%;
  margin: 50px 0;
}

input, textarea {
  width: 100%;
  background: none;
  border: none;
  border-bottom: var(--primaryColor) double;
  color: var(--white);
}

.center {
  width: fit-content;
  margin: 20px auto;
}

@media screen and (max-width: 480px) {
  .navbar {
    width: 100vw;
    padding: 0;
  }

  .navbar > i {
    margin: 10px;
  }

  #about > .section-content {
    flex-flow: column;
  }

  #blog-button {
    width: 110px;
    font-size: 10px;
    height: 30px;
    font-weight: 100;
    margin: 0 10px;
  }

  .sidebar {
    width: 100%;
  }

  .footer-profiles {
    padding: 0;
    font-size: 1.2em;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }

  .heading {
    font-size: 1.2em;
  }

  .career-time {
    width: 100%;
  }

  .right {
    margin-left: 0;
  }

  .list > ul {
    padding: 0;
    font-size: 14px;
  }

  .info > p {
    font-size: 12px;
    margin: 0 10px;
  }

  .turn {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }

  .contact-info {
    width: 95%;
  }

  .contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .info {
    margin: 20px 10px;
  }

  form {
    margin: 0;
  }

  .script-text {
    font-size: 1em;
  }

  .message {
    width: 100%;
  }

  .project {
    margin: 20px 0;
  }
}